fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
httpx
python-keycloak
minio
requests
python-dotenv
passlib[bcrypt]
bcrypt<4.1.0
python-jose[cryptography]
python-multipart
stripe
prometheus_client
APScheduler
